<mapper namespace="test">
	<!-- select标签，封装了SQL语句信息、入参类型、结果映射类型 -->
	<select id="findUserById" parameterType="Integer"
		resultType="com.hcl.mybatis.pojo.User" statementType="prepared">
		SELECT * FROM user WHERE id = #{id} 
	</select>

	<select id="findUserByName" parameterType="string" resultType="com.hcl.mybatis.pojo.User" statementType="prepared">
		Select * from user where name = #{name}
	</select>

	<select id="findUserByObj" parameterType="com.hcl.mybatis.pojo.User" resultType="com.hcl.mybatis.pojo.User" statementType="prepared">
		select * from user where age = #{age}
	</select>
</mapper>